%h1
  Informacije

%p
  Za nastup u sezoni 2016/17 je potrebna
  = link_to 'registracija', new_racer_path
  = '.'
%p
  Nakon unosa vaših podataka automatski će vam se dodijeliti kategorija i natjecateljski broj.
%p
  Dodijeljeni natjecateljski broj će biti izrađen sa vašim imenom i prezimenom, a preuzeti ćete ga
  na prvoj utrci na kojoj nastupite.
%p
  Nakon početne registracije, za sve
  = link_to 'ostale prijave', racers_login_path
  biti će samo potrebno da unesete vašu email adresu i broj mobitela sa kojim ste se registrirali.
%p
  Na stranici ćete moći pregledavati ostale natjecatelje, klubove, njihove rezultate sa prethodnih utrka i slično.
  Odmah nakon završene utrke moći ćete viditi vaš rezultat, poredak u kategoriji, broj osvojenih bodova, kao i ažuriranu tablicu kategorija i klubova.

%p.accent
  %a{ href: 'http://www.xczld.info/kontakt', target: '_blank' }
    Ukoliko Vaš klub nije na popisu, ili primjetite nekakav nedostatak molimo da nas kontaktirate putem obrasca na ovom linku.
