%h2
  IZJAVA O OSLOBAĐANJU ORGANIZATORA OD ODGOVORNOSTI

%hr
%br

%ol
  %li
    %b OPĆI UVJETI
    %p Kao uvjet mog sudjelovanja na Rekreativnoj XC zimskoj ligi Dalmacije, izjavljujem da sam se dobrovoljno prijavio, da na utrkama nastupam kao natjecatelj isključivo na vlastitu odgovornost te da sam upoznat s mogućim rizicima koje ovo natjecanje sadrži. Prihvaćanjem ove Izjave oslobađam odgovornosti organizatora, ostale natjecatelje i treće osobe za eventualne nezgode, ozljede, narušavanje zdravstvenog stanja i svake druge materijalne i nematerijalne štete koje sam prouzročio ili pretrpio, a koje mogu nastati kao posljedica mog sudjelovanja u natjecanju, od dolaska na mjesto natjecanja te zagrijavanja za utrku do nadmetanja u utrci, te se odričem prava na naknadu štete s navedenih osnova.
  %li
    %b POŠTIVANJE PRAVILA
    %p Potvrđujem da sam upoznat sa svim pravilima natjecanja, te prihvaćanjem ove izjave potvrđujem da ista razumijem i prihvaćam. Obvezujem se pridržavati svih pravila i svih pisanih i usmenih uputa danih od strane ovlaštenih osoba na utrci. Prihvaćam da nepoštivanje naznačenih pravila s moje strane može imati za posljedicu diskvalifikaciju s utrke.
  %li
    %b DOKAZIVANJE DOBNE KATEGORIJE
    %p Natjecatelji u ligi moraju imati navršene godine starosti za određenu kategoriju. Obvezujem se na zahtjev organizaciskog odbora lige pružiti dokaz o mojoj dobi vezano za sudjelovanje u natjecanju.
  %li
    %b IZJAVA O VJERODOSTOJNOSTI DATIH PODATAKA
    %p Izjavljujem da su podaci koje sam predao popunjavanjem obrasca prijave za sudjelovanje u natjecanju na utrkama lige točni te da ću za iste pružiti dokaz na zahtjev organizaciskog odbora lige.
  %li
    %b ZAVRŠNE ODREDBE
    %p Izjavljujem da dobrovoljno prihvaćam ovu Izjavu, da razumijem posljedice njenog prihvaćanja i slažem se s prethodno opisanim uvjetima.
