!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Pozdrav, #{@racer.first_name}
    %p
      You have successfully signed up to example.com
      %br/
    %p
      To login to the site, just follow this link:.
    %p Thanks for joining and have a great day!
