- @races.each do |race|
  .demo-card-event.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      %h4.text-center
        = race.name
        %hr
        - race.date.to_formatted_s(:db).split(' ').each do |d|
          = d
          %br
    .mdl-card__actions.mdl-card--border
      %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        = race.laps == 1 ? 'XCM' : 'XCO'
      .mdl-layout-spacer
      = link_to race do
        %i#register.material-icons assignment
        .mdl-tooltip.mdl-tooltip--large{ for: 'register'}
          Prijavi se za utrku
