#races
  - @races.each do |race|
    .demo-card-event.mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-card--expand
        %h4.text-center
          = race.name
          %hr
          - race.date.to_formatted_s(:db).split(' ').each do |d|
            = d
            %br
      .mdl-card__actions.mdl-card--border
        = link_to race do
          .mdl-button.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent
            Detalji
