#liveResults {
  #raceTime {
    float: none;
    h1 {
      font-size: 88px;
      text-align: center;
    }
  }
}

table.large-view {
  td {
    font-size: 40px;
    line-height: 50px;
    min-height: 50px;
  }
}
