#raceResultInput {
  width: 200px;
  height: 60px;
  font-size: 46px;
  padding: 20px;
  margin: auto;
  border: 2px solid #aaa;
}

.draft-result-list {
  width: 40%;
}

#raceTime {
  float: right;
  width: 250px;
  margin-top: -2em;
}
