/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material
 *= require_tree .
 *= require_self
 */

* {
    font-family: Roboto, 'sans';
}

.page-content {
  width: 80%;
  margin: 2em auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}

.mdl-layout__drawer-button {
  line-height: 50px !important;
}

.text-center {
  text-align: center;
}

.wide_table {
  width: 100%;
}

.mdl-data-table th, .mdl-data-table td {
  text-align: left !important;
}

.mdl-button {
  color: white !important;
}

select {
  background: transparent;
  border: 0 none;
  outline: 0 none;
  border-bottom: 2px solid #555;
  padding: 1em 2em 1em 0;
  width: 300px;
  font-size: 16px;
}

option {
  font-size: 18px;
}
