// Place all the styles related to the Races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #efefef;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  width: 256px;
  margin-top: 0;
  text-decoration: none;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  background: rgb(96,125,139);
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

#register {
  color: white;
}

#races {
  .mdl-button-white {
    background: #efefef;
  }
}

.race-actions {
  margin-bottom: 4em;

  * {
    display: inline;
    margin-right: 2em;
    text-decoration: none;
  }

  .mdl-button {
    background: rgb(96,125,139);
    color: white;
  }
}
